.SignUp {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.SignUp .LoginTitle {
  font-size: 10vh;
  color: #ffa38b;
}

.SignUp .cols {
  display: flex;
}

.SignUp .col1 {
  border-right: 0.5px solid #777777;
  width: 50%;
}

.SignUp .col2{
  width: 50%;
}

.SignUp a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.SignUp a {
  font-weight: bold;
}

.SignUp .footer {
  margin: 3%;
}