.EmailLogin {
  display: flex;
  flex-direction: column;
  padding-left: 50%;
  padding-right: 5%;
}

.EmailLogin .row {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.EmailLogin .row-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.EmailLogin a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.EmailLogin a {
  font-weight: bold;
}

.EmailLogin .row-col .forgot-password {
  align-self: center;
}