.Container2 {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  color: #fff;
  overflow: hidden;
  /* background-color: #ffa38b; */
  background-color: #ffffff;
  min-height: 100%;
}

.container2_title {
  flex-shrink: 5;
  min-width: 100%;
  
  font-size: 7vh;
  color: #777777;
}

.container2_content {
  flex-grow: 5;
  color: #777777;
  padding-left: 10%;
  padding-right: 10%;
}

.container2_content .rows {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container2_content .row {
  height: 100%;
  padding: 2%;
}

.purk-color {
  color: #ffa38b;
}

.container2_content .img {
  height: 10%;
  width: 10%;
  padding: 10;
}