.Container3 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  /* background-color: #ffa38b; */
  background-image: linear-gradient(#f992a6, #fa9);
  min-height: 100%;
  padding: 1%;
}

.row1{
  flex-grow: 1;
}

.row2{
  flex-grow: 3;
}

.title .container3_title {
  font-size: 7vh;
  padding: 10px;
  color: #ffffff;
  flex: 1;
}

.container3_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
}

.container3_content .row {
  display: flex;
  flex-direction: row;
  height: 50%;
  padding: 3%;
}

.container3_content .title {
  font-size: 4vh;
}
