.Container6 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #777777;

  background-color: white;
  min-height: 75vh;
}

.title .container6_title {
  font-size: 7vh;
  padding-top: 10px;
  color: #ffa38b;
  text-align: center;
}


.Container6 .row1 {
  flex: 1
}

.Container6 .row2 {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.Container6 .row2 .col {
  width: 32%; 
  align-self: center;
}

.Container6 .img {
  width: 35%;
  height: 35%;
}
